altgraph==0.17
chardet==4.0.0
freeze==3.0
future==0.18.2
importlib-metadata==3.4.0
numpy==1.19.5
pandas==1.1.5
pdfminer==20191125
pdfminer.six==20200517
pdfplumber==0.5.25
pefile==2019.4.18
Pillow==8.1.0
pycryptodome==3.9.9
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
PyPDF2==1.26.0
python-dateutil==2.8.1
pytz==2020.5
pywin32-ctypes==0.2.0
six==1.15.0
sortedcontainers==2.3.0
typing-extensions==3.7.4.3
Wand==0.6.5
zipp==3.4.0
